.hero {
    margin: 5rem ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.image-side {
    max-width: calc(50% - 2.5rem);

}

.image-side img {
    border-radius: 50%; /* Makes the image a circle */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    object-fit: contain; /* Ensures the image covers the circle area */
}

.image-side:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    border: 8px solid white;
}

.hero-content {
    max-width: calc(50% - 2.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-weight: 500; 
    border-radius: 0.5rem;
    font-size: 0.875rem; 
    padding: 0.5rem 1rem; 
    text-align: center; 
    background-image: linear-gradient(to right, #3b82f6, #2563eb, #1e3a8a); 
    transition: all 0.5s ease; /* hover:bg-gradient-to-br */
    outline: none; 
    border: none; 
    cursor: pointer; 
    box-shadow: 0 5px 15px rgba(59, 130, 246, 0.5); 
}

.hero-content button:hover {
    background-image: linear-gradient(to bottom right, #3b82f6, #1e3a8a); 
    border-radius: 50px;
}

.hero-content button:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3); 
}



.dark .hero-content button{
    box-shadow: 0 5px 15px rgba(59, 130, 246, 0.4); /* dark:shadow-lg dark:shadow-blue-800/80 */

}

.dark .hero-content button:hover {
    border-radius: 50px;
}

.dark .hero-content button:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2); /* dark:focus:ring-blue-800 */
}


@media (max-width:1270px) {
    .hero-content h1 {
        font-size: 2rem;
    }
}

@media (max-width:970px) {

    .hero {
        flex-direction: column;
        gap: 3rem;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }
}


@media (max-width:770px) {
    .hero {
        margin: 2rem 0px 0px 0px;
        gap: 1rem;
    }

    .image-side {
        max-width: 100%;
    }

    .hero-content {
        max-width: 100%;
    }
}